<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Carrito de Compras</title>

    <%- include ('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/style-carrito.css" />
  </head>

  <body>
    <!-- Navbar -->
    <%- include ('../partials/header.ejs') %>

    <main>
      <div class="titulo">
        <h2>Carrito</h2>
        <a href="/products/autopartes">
          <button class="seguir">
            <span> Seguir comprando </span>
          </button>
        </a>
      </div>
      <div class="card-body">
        <div class="tabla-container">
          <table class="table">
            <thead>
              <tr>
                <th style="width: 50px">
                  <strong>#</strong>
                </th>
                <th class="th-lg">
                  <strong>Producto</strong>
                </th>
                <th class="th-lg">
                  <strong>Precio</strong>
                </th>
                <th class="text-center">
                  <strong>Cantidad</strong>
                </th>
                <th class="text-center">
                  <strong>Subtotal</strong>
                </th>
                <th style="width: 50px"></th>
              </tr>
            </thead>
            <tbody class="cartRows"></tbody>
          </table>
        </div>
      </div>
      <div class="carrito-acciones">
        <div class="carrito-acciones-izquierda">
          <button class="carrito-acciones-vaciar vaciar-cart">
            Vaciar carrito
          </button>
        </div>
      </div>
      <div class="card">
        <div class="card-header text-center">Terminar la compra</div>
        <form id="checkoutCart" class="card-body">
          <div class="row">
            <div class="col">
              <label for="country">Tipo Envio</label>
              <select
                class="custom-select d-block w-100"
                id="shippingMethod"
                name=" shippingMethod"
                required=""
              >
                <option value="">Elija un tipo de envio</option>
                <option value="Cadete">Cadete</option>
                <option value="Correo">Correo Argentino</option>
                <option value="Andreani">Andreani</option>
              </select>
            </div>
            <div class="col">
              <label for="country">Pago</label>
              <select
                class="custom-select d-block w-100"
                id="paymentMethod"
                name="paymentMethod"
                required=""
              >
                <option value="">Elija un tipo de pago</option>
                <option value="Efectivo">Efectivo</option>
                <option value="Débito">Tarjeta Débito</option>
                <option value="Crédito">Tarjeta Crédito</option>
              </select>
            </div>
          </div>
          <div class="carrito-acciones-derecha">
            <div class="carrito-acciones-total">
              <div class="card-footer text-right">
                <h2>Total: <span class="totalAmount">$ 0</span></h2>
              </div>
              <button class="carrito-acciones-comprar" type="submit">
                Comprar ahora
              </button>
            </div>
          </div>
        </form>
      </div>
    </main>

    <!-- Footer -->

    <%- include ('../partials/footer.ejs') %>
    <script src="/javascript/cart.js"></script>
    <%- include('../partials/scripts') %>
  </body>
</html>
