<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/style-autopartes.css" />
    <link rel="stylesheet" href="/design/variables.css" />
    <link rel="stylesheet" href="/css/style-Nav-Footer.css" />
    <script
      src="https://kit.fontawesome.com/3f0244d368.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <!-- Nav -->

    <nav>
      <div class="nav container">
        <i class="fa-solid fa-bars" id="menu-icon"></i>
        <div class="logo-img">
          <img
            src="/images/logo-sin-fondo.png"
            alt="logo"
            width="100px"
            height="100px"
          />
        </div>
        <a href="#" class="logo">Six<span>Motors</span></a>
        <ul class="navbar">
          <li><a href="#" class="active">Home</a></li>
          <li><a href="#">Autos</a></li>
          <li><a href="#">Autopartes</a></li>
          <li><a href="#">Contacto</a></li>
        </ul>
        <div class="icons">
          <i class="fa-sharp fa-solid fa-magnifying-glass" id="search-icon"></i>
          <a href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a>
          <a href="/login"><i class="fa-solid fa-user"></i></a>
        </div>
        <div class="search-box container">
          <input type="search" name="" id="" placeholder="   Buscar ..." />
        </div>
        <button class="btn">
          Sign up
          <div class="arrow-wrapper">
            <div class="arrow"></div>
          </div>
        </button>
      </div>
    </nav>

    <!-- Autopartes -->
    <!-- Header de autopartes -->

    <div class="wrapper">
      <aside>
        <nav class="menu">
          <div class="search-container">
            <input type="text" class="search-input" placeholder="Buscar..." />
            <button class="search-button">Buscar</button>
          </div>
          <ul class="menu-botones">
            <li><button class="boton-categoria">Modelo</button></li>
            <br />
            <li><button class="boton-categoria">Marca</button></li>
            <br />
            <li><button class="boton-categoria">Piezas</button></li>
            <br />
            <li>
              <button class="boton-categoria-link">
                <a class="boton-carrito" href="/carrito">Carrito</a>
              </button>
            </li>
          </ul>
          <div class="menu-bars">
            <button>
              <i class="fa-solid fa-bars"></i>
            </button>
          </div>
        </nav>

        <!-- Footer de autopartes -->

        <footer class="autorizacion">
          <p>@SixMotors</p>
        </footer>
      </aside>

      <!-- Main de autopartes -->

      <main>
        <h2>Todos los productos</h2>

        <!-- Contenedor de articulos, autopartes -->

        <div class="contenedor-productos">
          <article class="articulos">
            <img src="/images/amortiguadores-ap.png" alt="" width="100%" />
            <div class="productos-detalles">
              <div class="precio-descuento">
                <p class="precio">$30.000</p>
                <p class="descuento">40% OFF</p>
              </div>
              <p class="nombre-elemento">Amortiguador</p>
            </div>
          </article>

          <article class="articulos">
            <img src="/images/bujia-ap.png" alt="" width="100%" />
            <div class="productos-detalles">
              <div class="precio-descuento">
                <p class="precio">$12.000</p>
                <p class="descuento">N/D</p>
              </div>
              <p class="nombre-elemento">Bujias</p>
            </div>
          </article>

          <article class="articulos">
            <img src="/images/cables-de-bujia-ap.png" alt="" width="100%" />
            <div class="productos-detalles">
              <div class="precio-descuento">
                <p class="precio">$8.625</p>
                <p class="descuento">25% OFF</p>
              </div>
              <p class="nombre-elemento">Cables Bujias</p>
            </div>
          </article>

          <article class="articulos">
            <img src="/images/faros-ap.jpg" alt="" width="100%" />
            <div class="productos-detalles">
              <div class="precio-descuento">
                <p class="precio">$22.500</p>
                <p class="descuento">10% OFF</p>
              </div>
              <p class="nombre-elemento">Faros delanteros</p>
            </div>
          </article>

          <article class="articulos">
            <img src="/images/espejos-laterales-ap.jpg" alt="" width="100%" />
            <div class="productos-detalles">
              <div class="precio-descuento">
                <p class="precio">$8.000</p>
                <p class="descuento">20% OFF</p>
              </div>
              <p class="nombre-elemento">Espejos laterales</p>
            </div>
          </article>

          <article class="articulos">
            <img src="/images/espejo-retrovisor-ap.png" alt="" width="100%" />
            <div class="productos-detalles">
              <div class="precio-descuento">
                <p class="precio">$2.350</p>
                <p class="descuento">N/D</p>
              </div>
              <p class="nombre-elemento">Espejo retrovisor</p>
            </div>
          </article>

          <article class="articulos">
            <img src="/images/alternador-ap.png" alt="" width="100%" />
            <div class="productos-detalles">
              <div class="precio-descuento">
                <p class="precio">$148.000</p>
                <p class="descuento">20% OFF</p>
              </div>
              <p class="nombre-elemento">Alternador</p>
            </div>
          </article>

          <article class="articulos">
            <img src="/images/bateria-ap.png" alt="" width="100%" />
            <div class="productos-detalles">
              <div class="precio-descuento">
                <p class="precio">$16.800</p>
                <p class="descuento">40% OFF</p>
              </div>
              <p class="nombre-elemento">Bateria</p>
            </div>
          </article>

          <article class="articulos">
            <img src="/images/embragu-ap.png" alt="" width="100%" />
            <div class="productos-detalles">
              <div class="precio-descuento">
                <p class="precio">$66.150</p>
                <p class="descuento">10% OFF</p>
              </div>
              <p class="nombre-elemento">Embrague</p>
            </div>
          </article>

          <article class="articulos">
            <img src="/images/embrague-ceramico-ap.png" alt="" width="100%" />
            <div class="productos-detalles">
              <div class="precio-descuento">
                <p class="precio">$983.000</p>
                <p class="descuento">10% OFF</p>
              </div>
              <p class="nombre-elemento">Embrague ceramico</p>
            </div>
          </article>

          <article class="articulos">
            <img src="/images/escape-ap.jpg" alt="" width="100%" />
            <div class="productos-detalles">
              <div class="precio-descuento">
                <p class="precio">$48.000</p>
                <p class="descuento">50% OFF</p>
              </div>
              <p class="nombre-elemento">Escape</p>
            </div>
          </article>

          <article class="articulos">
            <img src="/images/pistones-ap.jpg" alt="" width="100%" />
            <div class="productos-detalles">
              <div class="precio-descuento">
                <p class="precio">$8.500</p>
                <p class="descuento">N/d</p>
              </div>
              <p class="nombre-elemento">Pistones</p>
            </div>
          </article>
        </div>
      </main>
    </div>

    <!-- Footer -->

    <footer class="pie-pagina">
      <div class="grupo-1">
        <div class="box">
          <figure class="logo2">
            <a href="#">
              <img src="/images/logo2-sin-fondo.png" alt="Logo" />
            </a>
          </figure>
        </div>
        <div class="box">
          <h2>Sobre Nosotros</h2>
          <p>
            Nuestro sitio web ofrece una amplia gama de productos y servicios
            relacionados con la venta de autos y autopartes. En cuanto a la
            venta de autos, contamos con un inventario de autos de diferentes
            marcas, modelos y categorías. Además, ofrecemos una variedad de
            autopartes para aquellos que buscan reparar, mejorar o personalizar
            sus vehículos. Nuestro sitio está dirigido a una audiencia amplia
            que incluye tanto a propietarios de automóviles en busca de comprar
            un vehículo nuevo o usado, como a personas que le interesen los
            automóviles y mecánicos que necesitan adquirir autopartes para sus
            proyectos o reparaciones.
          </p>
        </div>
        <div class="box">
          <h2>Redes sociales</h2>
          <div class="redes">
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-instagram-square"></i></a>
            <a href="#"><i class="fab fa-twitter-square"></i></a>
            <a href="#"><i class="fa-brands fa-github"></i></a>
          </div>
        </div>
      </div>
      <div class="grupo-2">
        <small
          >&copy; 2023 <b>SiXMotors</b>-Todos los derechos reservados</small
        >
      </div>
    </footer>

    <!-- javascript del Nav & Autopartes -->

    <script type="module" src="/javascript/nav.js"></script>
  </body>
</html>
