<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>autos</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css"
    />
    <link rel="stylesheet" href="/css/style-Nav-Footer.css" />
    <link rel="stylesheet" href="/css/autos.css" />
    <link rel="stylesheet" href="/design/variables.css" class="css" />
  </head>
  <body>
    <!-- Navbar -->
    <nav>
      <div class="nav container">
        <i class="fa-solid fa-bars" id="menu-icon"></i>
        <div class="logo-img">
          <img
            src="/images/logo-sin-fondo.png"
            alt="logo"
            width="100px"
            height="100px"
          />
        </div>
        <a href="#" class="logo">Six<span>Motors</span></a>
        <ul class="navbar">
          <li><a href="#" class="active">Home</a></li>
          <li><a href="#">Autos</a></li>
          <li><a href="#">Autopartes</a></li>
          <li><a href="#">Contacto</a></li>
        </ul>
        <div class="icons">
          <i class="fa-sharp fa-solid fa-magnifying-glass" id="search-icon"></i>
          <a href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a>
          <a href="/login"><i class="fa-solid fa-user"></i></a>
        </div>
        <div class="search-box container">
          <input type="search" name="" id="" placeholder="   Buscar ..." />
        </div>
        <button class="btn">
          Sign up
          <div class="arrow-wrapper">
            <div class="arrow"></div>
          </div>
        </button>
      </div>
    </nav>

    <div class="wrapper">
      <header class="header-mobile">
        <button class="open-menu" id="open-menu">
          <i class="bi bi-list"></i>
        </button>
        <button class="close-menu" id="close-menu">
          <i class="bi bi-x"></i>
        </button>
      </header>
      <aside>
        <button class="close-menu" id="close-menu">
          <i class="bi bi-x"></i>
        </button>
        <header>
          <h1 class="logo-aside">SixMOTORS</h1>
        </header>
        <div class="menu-aside">
          <ul class="menu-autos">
            <li>
              <button id="" class="boton-menu boton-categoria active">
                <i class="bi bi-hand-index-thumb-fill"></i> Todos
              </button>
            </li>
            <li>
              <button id="" class="boton-menu boton-categoria">
                <i class="bi bi-hand-index-thumb"></i> Autos
              </button>
            </li>
            <li>
              <button id="" class="boton-menu boton-categoria">
                <i class="bi bi-hand-index-thumb"></i> Camionetas
              </button>
            </li>
            <li>
              <button id="" class="boton-menu boton-categoria">
                <i class="bi bi-hand-index-thumb"></i> Camiones
              </button>
            </li>
            <li>
              <button id="" class="boton-menu boton-categoria">
                <i class="bi bi-hand-index-thumb"></i> Motos
              </button>
            </li>
            <li>
              <a class="boton-menu boton-carrito" href="">
                <i class="bi bi-cart-fill"></i> Carrito
                <span id="numerito" class="numerito">0</span>
              </a>
            </li>
          </ul>
        </div>
        <footer>
          <p class="texto-footer">© 2023 SixMotors</p>
        </footer>
      </aside>
      <main>
        <h2 class="titulo-principal" id="titulo-principal">
          Todos los productos
        </h2>
        <div id="contenedor-productos" class="contenedor-productos">
          <div class="producto">
            <img class="producto-imagen" src="/images/0km-slider1.jpg" alt="" />
            <div class="producto-detalles">
              <h3 class="producto-titulo">MARCA-MODELO</h3>
              <p class="producto-precio">10000000000000</p>
              <button class="producto-agregar" id="">Agregar</button>
            </div>
          </div>
          <div class="producto">
            <img class="producto-imagen" src="/images/0km-slider1.jpg" alt="" />
            <div class="producto-detalles">
              <h3 class="producto-titulo">MARCA-MODELO</h3>
              <p class="producto-precio">10000000000000</p>
              <button class="producto-agregar" id="">Agregar</button>
            </div>
          </div>
          <div class="producto">
            <img class="producto-imagen" src="/images/0km-slider1.jpg" alt="" />
            <div class="producto-detalles">
              <h3 class="producto-titulo">MARCA-MODELO</h3>
              <p class="producto-precio">10000000000000</p>
              <button class="producto-agregar" id="">Agregar</button>
            </div>
          </div>
          <div class="producto">
            <img class="producto-imagen" src="/images/0km-slider1.jpg" alt="" />
            <div class="producto-detalles">
              <h3 class="producto-titulo">MARCA-MODELO</h3>
              <p class="producto-precio">10000000000000</p>
              <button class="producto-agregar" id="">Agregar</button>
            </div>
          </div>
          <div class="producto">
            <img class="producto-imagen" src="/images/0km-slider1.jpg" alt="" />
            <div class="producto-detalles">
              <h3 class="producto-titulo">MARCA-MODELO</h3>
              <p class="producto-precio">10000000000000</p>
              <button class="producto-agregar" id="">Agregar</button>
            </div>
          </div>
          <div class="producto">
            <img class="producto-imagen" src="/images/0km-slider1.jpg" alt="" />
            <div class="producto-detalles">
              <h3 class="producto-titulo">MARCA-MODELO</h3>
              <p class="producto-precio">10000000000000</p>
              <button class="producto-agregar" id="">Agregar</button>
            </div>
          </div>
          <div class="producto">
            <img class="producto-imagen" src="/images/0km-slider1.jpg" alt="" />
            <div class="producto-detalles">
              <h3 class="producto-titulo">MARCA-MODELO</h3>
              <p class="producto-precio">10000000000000</p>
              <button class="producto-agregar" id="">Agregar</button>
            </div>
          </div>
          <div class="producto">
            <img class="producto-imagen" src="/images/0km-slider1.jpg" alt="" />
            <div class="producto-detalles">
              <h3 class="producto-titulo">MARCA-MODELO</h3>
              <p class="producto-precio">10000000000000</p>
              <button class="producto-agregar" id="">Agregar</button>
            </div>
          </div>
        </div>
      </main>
    </div>

    <!-- Footer -->
    <footer class="pie-pagina">
      <div class="grupo-1">
        <div class="box">
          <figure class="logo2">
            <a href="#">
              <img src="/images/logo2-sin-fondo.png" alt="Logo" />
            </a>
          </figure>
        </div>
        <div class="box">
          <h2>Sobre Nosotros</h2>
          <p>
            Nuestro sitio web ofrece una amplia gama de productos y servicios
            relacionados con la venta de autos y autopartes. En cuanto a la
            venta de autos, contamos con un inventario de autos de diferentes
            marcas, modelos y categorías. Además, ofrecemos una variedad de
            autopartes para aquellos que buscan reparar, mejorar o personalizar
            sus vehículos. Nuestro sitio está dirigido a una audiencia amplia
            que incluye tanto a propietarios de automóviles en busca de comprar
            un vehículo nuevo o usado, como a personas que le interesen los
            automóviles y mecánicos que necesitan adquirir autopartes para sus
            proyectos o reparaciones.
          </p>
        </div>
        <div class="box">
          <h2>Redes sociales</h2>
          <div class="redes">
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-instagram-square"></i></a>
            <a href="#"><i class="fab fa-twitter-square"></i></a>
            <a href="#"><i class="fa-brands fa-github"></i></a>
          </div>
        </div>
      </div>
      <div class="grupo-2">
        <small
          >&copy; 2023 <b>SiXMotors</b>-Todos los derechos reservados</small
        >
      </div>
    </footer>

    <!-- javascript del nav -->
    <script type="module" src="/javascript/nav.js"></script>

    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/toastify-js"
    ></script>
    <script src="/javascript/autos.js"></script>
  </body>
</html>
