<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../public/css/style-autopartes.css">
  <link rel="stylesheet" href="../design/variables.css">
  <link rel="stylesheet" href="../public/css/style-Nav-Footer.css">
</head>
<body>
  
  <!-- Nav -->

  <nav>
    <div class="nav container">
      <i class="fa-solid fa-bars" id="menu-icon"></i>
      <div class="logo-img">
        <img
          src="../design/logo-sin-fondo.png"
          alt="logo"
          width="100px"
          height="100px"
        />
      </div>
      <a href="#" class="logo">Six<span>Motors</span></a>
      <ul class="navbar">
        <li><a href="#" class="active">Home</a></li>
        <li><a href="#">Autos</a></li>
        <li><a href="#">Autopartes</a></li>
        <li><a href="#">Contacto</a></li>
      </ul>
      <div class="icons">
        <i class="fa-sharp fa-solid fa-magnifying-glass" id="search-icon"></i>
        <a href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a>
        <a href="/login"><i class="fa-solid fa-user"></i></a>
      </div>
      <div class="search-box container">
        <input type="search" name="" id="" placeholder="   Buscar ..." />
      </div>
      <button class="btn">
        Sign up
        <div class="arrow-wrapper">
          <div class="arrow"></div>
        </div>
      </button>
    </div>
  </nav>

  <!-- Autopartes -->

  <div class="wrapper">
    <aside>
      <header class="header">
        <div>
          <BUtton class="volver"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-bar-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M12.5 15a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5ZM10 8a.5.5 0 0 1-.5.5H3.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L3.707 7.5H9.5a.5.5 0 0 1 .5.5Z"/>
          </svg></BUtton>
        </div>
      </header>
        <nav>
          <ul class="menu-categoria">
            <li> <BUtton class="boton-categoria">Modelo</BUtton></li><br>
            <li> <BUtton class="boton-categoria">Marca</BUtton></li><br>
            <li> <BUtton class="boton-categoria">Piezas</BUtton></li><br>
            <li> <button class="boton-categoria-link"><a class="boton-carrito" href="../views/carrito.html">Carrito</a></li></button>
          </ul>
        </nav>
        <footer class="autorizacion">
          <p>@SixMotors</p>
        </footer>
    </aside>
    <main>
      <h2 class="titulo-principal">Todos los productos</h2>
      <div class="contenedor-productos">
        <div class="producto">
          <img class="img-producto" src="../public/images/alternador ap.png" alt="" class="img-producto"> 
          <div class="detalle-producto">
            <h3 class="nombre-producto">Alternador</h3>
            <p class="oferta-producto">40% OFF</p>
            <p class="precio-producto">$XXX</p>
            <button class="boton-producto">Agregar</button>
          </div>
        </div>
        <div class="producto">
          <img class="img-producto" src="../public/images/amortiguadores ap.png" alt="" class="img-producto"> 
          <div class="detalle-producto">
            <h3 class="nombre-producto">Amortiguador</h3>
            <p class="oferta-producto">40% OFF</p>
            <p class="precio-producto">$XXX</p>
            <button class="boton-producto">Agregar</button>
          </div>
        </div>
        <div class="producto">
          <img class="img-producto" src="../public/images/bateria ap.png" alt="" class="img-producto"> 
          <div class="detalle-producto">
            <h3 class="nombre-producto">Bateria</h3>
            <p class="oferta-producto">40% OFF</p>
            <p class="precio-producto">$XXX</p>
            <button class="boton-producto">Agregar</button>
          </div>
        </div>
        <div class="producto">
          <img class="img-producto" src="../public/images/bujia ap.png" alt="" class="img-producto"> 
          <div class="detalle-producto">
            <h3 class="nombre-producto">Bujia</h3>
            <p class="oferta-producto">40% OFF</p>
            <p class="precio-producto">$XXX</p>
            <button class="boton-producto">Agregar</button>
          </div>
        </div>
        <div class="producto">
          <img class="img-producto" src="../public/images/cables-de-bujia ap.png" alt="cables de bujias"> 
          <div class="detalle-producto">
            <h3 class="nombre-producto">Cables de bujia</h3>
            <p class="oferta-producto">N/D</p>
            <p class="precio-producto">$XXX</p>
            <button class="boton-producto">Agregar</button>
          </div>
        </div>
        <div class="producto">
          <img class="img-producto" src="../public/images/escape ap.jpg" alt="escape"> 
          <div class="detalle-producto">
            <h3 class="nombre-producto">Escape</h3>
            <p class="oferta-producto">N/D</p>
            <p class="precio-producto">$xxx</p>
            <button class="boton-producto">Agregar</button>
          </div>
        </div>
        <div class="producto">
          <img class="img-producto" src="../public/images/espejo-retrovisor ap.png" alt="espejo retrovisor"> 
          <div class="detalle-producto">
            <h3 class="nombre-producto">Espejo Retrovisor</h3>
            <p class="oferta-producto">N/d</p>
            <p class="precio-producto">$XXX</p>
            <button class="boton-producto">Agregar</button>
          </div>
        </div>
        <div class="producto">
          <img class="img-producto" src="../public/images/espejos-laterales ap.jpg" alt="espejos laterales"> 
          <div class="detalle-producto">
            <h3 class="nombre-producto">Espejos Laterales</h3>
            <p class="oferta-producto">N/d</p>
            <p class="precio-producto">$XXX</p>
            <button class="boton-producto">Agregar</button>
          </div>
        </div>
        <div class="producto">
          <img class="img-producto" src="../public/images/faros ap.jpg" alt="faros"> 
          <div class="detalle-producto">
            <h3 class="nombre-producto">Faros Delanteros</h3>
            <p class="oferta-producto">N/d</p>
            <p class="precio-producto">$XXX</p>
            <button class="boton-producto">Agregar</button>
          </div>
        </div>
       
     
      </div>
      
    </main>
  </div>

  <!-- Footer -->

  <footer class="pie-pagina">
    <div class="grupo-1">
      <div class="box">
        <figure class="logo2">
          <a href="#">
            <img src="../public/images/logo2-sin-fondo.png" alt="Logo" />
          </a>
        </figure>
      </div>
      <div class="box">
        <h2>Sobre Nosotros</h2>
        <p>
          Nuestro sitio web ofrece una amplia gama de productos y servicios
          relacionados con la venta de autos y autopartes. En cuanto a la
          venta de autos, contamos con un inventario de autos de diferentes
          marcas, modelos y categorías. Además, ofrecemos una variedad de
          autopartes para aquellos que buscan reparar, mejorar o personalizar
          sus vehículos. Nuestro sitio está dirigido a una audiencia amplia
          que incluye tanto a propietarios de automóviles en busca de comprar
          un vehículo nuevo o usado, como a personas que le interesen los
          automóviles y mecánicos que necesitan adquirir autopartes para sus
          proyectos o reparaciones.
        </p>
      </div>
      <div class="box">
        <h2>Redes sociales</h2>
        <div class="redes">
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-instagram-square"></i></a>
          <a href="#"><i class="fab fa-twitter-square"></i></a>
          <a href="#"><i class="fa-brands fa-github"></i></a>
        </div>
      </div>
    </div>
    <div class="grupo-2">
      <small
        >&copy; 2023 <b>SiXMotors</b>-Todos los derechos reservados</small
      >
    </div>
  </footer>

  <!-- javascript del Nav & Autopartes -->

  <script type="module" src="../public/javascript/nav.js"></script>
  <script type="module" src="../public/javascript/autopartes.js"></script>
</body>

</html>