<!-- ESTO ES UN CROQUIS DE LA PAGINA PARA VER COMO QUEDA -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de Compras</title>
    <link rel="stylesheet" href="\css\style-carrito.css">
</head>
<body>
    <header>
        <div class="logo-wrapper">
            <img src="images\logo-sin-fondo.png" alt="logo" class="logo">
        </div>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="#">Autos</a></li>
                <li><a href="#">Autopartes</a></li>
            </ul>
            <input type="text" placeholder="Buscar...">
        </nav>
    </header>

    <main>
        <div class="product-container">
            <div class="product">
                <div class="product-img">
                    <img src="images/peu-5008-300x220.png" alt="Producto 1">
                </div>
                <div class="product-details">
                    <h2>PEUGEOT 5008 GT PACK 7 ASIENTOS</h2>
                    <p>Precio: $25.983.699</p>
                </div>
                <div class="product-buttons">
                    <button class="delete-button">Eliminar del carrito</button>
                    <button class="add-button">Agregar más items</button>
                </div>
            </div>

            <div class="product">
                <div class="product-img">
                    <img src="images/vw-amarok-2021-300x220.png" alt="Producto 2">
                </div>
                <div class="product-details">
                    <h2>VOLKSWAGEN AMAROK DC 3.0L TDI 258 CV V6 EXTREME 4X4 AUT</h2>
                    <p>Precio: $20.800.000</p>
                </div>
                <div class="product-buttons">
                    <button class="delete-button">Eliminar del carrito</button>
                    <button class="add-button">Agregar más items</button>
                </div>
            </div>

            <div class="product">
                <div class="product-img">
                    <img src="images/vw-tigguan_allspace-300x220.png" alt="Producto 3">
                </div>
                <div class="product-details">
                    <h2>VOLKSWAGEN TIGUAN ALLSPACE LIFE 350TSI</h2>
                    <p>Precio: $19.769.499</p>
                </div>
                <div class="product-buttons">
                    <button class="delete-button">Eliminar del carrito</button>
                    <button class="add-button">Agregar más items</button>
                </div>
            </div>
            <div class="purchase-buttons">
                <button class="buy-button">Comprar</button>
                <button class="cancel-button">Cancelar compra</button>
            </div>
        </div>
    </main>

    <footer>
        <!-- aca iria lo del footer -->
    </footer>

    <script src="script.js"></script>
</body>
</html>