<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="css/style-detalles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1">
  </head>
  <body>
    <header>
      
    </header>

    <main>

    </main>
    <footer>

    </footer>
  </body>
</html>
