<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css"   href="/css/style-index.css">
    <title>Document</title>
  </head>
  <body>
    <a href="/Nav-Footer" class="comp">Nav y footer</a>
    <a href="/productDetail" class="comp">Detalles</a>
    <a href="/register" class="comp">register</a>
    <a href="/login" class="comp">login</a>
    <a href="/carrito" class="comp">carrito</a>
    <a href="/autopartes" class="comp">Autopartes</a>
    <a href="/home" class="comp">home</a>
    <a href="/home2" class="comp">home2</a>
  </body>
</html>
