<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product Detail</title>
    <link rel="stylesheet" href="css/style-product-detail.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1">
</head>
<body>
    <header>

    </header>
    <main>
        <section class="producto">
            <article>
                <div class="contenedor-nombre-articulo">
                    <h1>Nombre del articulo</h1>
                </div>
                <div class="contenedor-imagen">
                    <img src="images/foto-ejemplo-detalles.jpg" alt="">
                </div>
                <div class="contenedor-detalles">
                    <div class="precio">$30.000</div>
                    <div class="descuento">30% OFF</div>
                </div>
                <div class="contenedor-cantidad">
                    <form action="" class="cantidad">
                        <label>Cantidad: </label>
                        <input type="number" placeholder="Ingrese la cantidad">
                    </form>
                </div>
                <div class="contenedor-compra">
                    <div class="comprar">Comprar</div>
                    <div class="agregar-carrito">Agregar al carrito</div>
                </div>
            </article>
        </section>
        <section class="relacionados">
            <div class="texto-art-relacionados">
                <h2>Articulos relacionados</h2>
            </div>
            <div class="articulos">
                <img src="images/recomendado.jpg" alt="">
                <img src="images/recomendado2.jpg" alt="">
                <img src="images/recomendado3.webp" alt="">
                <img src="images/recomendado4.webp" alt="">
                <img src="images/recomendado5.jpg" alt="">
                <img src="images/recomendado6.jpg" alt="">
            </div>
        </section>
    </main>
    <footer>

    </footer>
</body>
</html>
