@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');



*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #FFFFFF;
    font-family: Roboto, sans-serif;
    overflow-x: hidden;
}

/* !ESTILOS DEL MAIN */

main{
    display: flex;
    flex-direction: column;
}

article{
    padding: 25px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #FFFFFF;
    width: 100vw;
}

/* CONTENEDOR NOMBRE */

.contenedor-nombre-articulo{
    padding-bottom: 20px;
    order: -1;
}


/* CONTENEDOR IMAGEN */

.contenedor-imagen{
    width: 90vw;
    display: flex;
}

.contenedor-imagen img{
    width: 100%;
}


/* CONTENEDOR DETALLES */


.contenedor-detalles{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    background-color: #ebf1ff;
    width: 90vw;
    padding: 20px 0 20px 15px;
    align-items: start;
}

.precio{
    font-size: 20px;
}

.descuento{
    font-size: 12px;
    align-self: center;
    color: #39b54a;
}




/* CONTENEDOR CANTIDAD */
.contenedor-cantidad{
    margin-top: 30px;
    width: 100%;
    padding: 0 20px;
}

.cantidad{
    display: flex;
    margin-bottom: 30px;
    width: 100%;
}
.cantidad label{
    background: rgb(201, 201, 201);
    padding: 15px;
    border-radius: 10px 0 0 10px;
    border: black 1px solid;
    border-right: white;
}

.cantidad input:focus{
    outline: none;
}

.cantidad input{
        padding-left: 10px;
        background: white;
        border-radius: 0px 10px 10px 0px;
        box-shadow: none;
        border: none;
        font-size: 15px;
        width: 100%;
        border: black 1px solid;
        border-left: white;
}


/* CONTENEDOR COMPRA */

.contenedor-compra{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    padding: 0 20px;
}

.comprar{
    background-color: #8fb4ff;
    color: #000000;
    padding: 15px;
    border-radius: 10px 10px 10px 10px;
    width: 100%;
    text-align: center;
    transition: all .5s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.comprar:hover{
    background-color: #375ba3;
    color: white;
    transform: scale(1.03);
}


.agregar-carrito{
    background-color: #ff8f94;
   color: #000000;
   padding: 15px;
   border-radius: 10px 10px 10px 10px;
   width: 100%;
   text-align: center;
   transition: all .5s;
   cursor: pointer;
   display: flex;
   justify-content: center;
   align-items: center;
}

.agregar-carrito:hover{
    background-color: #bd5f63;
    transform: scale(1.03);
    color: white;
}

/* CONTENEDOR INFORMACION */

.contenedor-informacion{
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: start;
    width: 100%;
    margin: 50px 0 10px 0;
    padding: 15px;
    background-color: #ebf1ff;
}

.contenedor-informacion li{
    margin: 15px 0;
    display: flex;
}

.contenedor-informacion li span{
    display: flex;
    align-items: center;
    
}
.contenedor-informacion li .fa-dot-circle{
    padding: 5px 10px 5px 0;
    font-size: 10px;
    
}



/* RELACIONADOS */

.relacionados{
    display: flex;
    flex-direction: column;
    margin: 10px;
    text-align: center;
}



.articulos{
    display: flex;
    flex-direction: row;
    justify-content: start;
    overflow-x: scroll;
    gap: 10px;
    padding: 20px;
}

.articulos img{
    width: 32vw;
    height: 75%;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
}

.articulo1, .articulo2, .articulo3, .articulo4, .articulo5, .articulo6{
    width: 33vw;
    background-color: #ebf1ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: #ebf1ff 1px solid;
    border-radius: 10px;
    transition: all .5s;
}


.articulo1:hover, .articulo2:hover, .articulo3:hover, .articulo4:hover, .articulo5:hover, .articulo6:hover{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    transform: scale(1.05);
}


.imagen-pantallas-grandes{
    display: none;
}






@media (min-width:400px) {
    .contenedor-imagen{
        max-width: 500px;
    }
    .contenedor-detalles{
        max-width: 500px;
    }

    .contenedor-cantidad{
        max-width: 500px;
    }

    .contenedor-compra{
        max-width: 500px;
    }
}


@media (min-width:768px) {
    h1{
        font-size: 25px;
    }

    .producto{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin: 50px 40px;
        align-items: start;
    }
    
    .contenedor-nombre-articulo{
        width: 100%;
    }
    
    .producto article{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 50%;
        align-items: start;
        padding: 40px 0 0 0;
        background-color: #ebf1ff;
        border-radius: 20px;
    }
    
    .contenedor-imagen{
        display: none;
    }
    
    .imagen-pantallas-grandes{
        width: 30%;
        height: auto;
        display: block;
        position: sticky;
        top: 0;
    }
    
    .imagen-pantallas-grandes img{
        width: 100%;
        height: 100%;
    }
    
    .contenedor-nombre-articulo{
        order: 0;
    }
    
    .contenedor-detalles{
        align-items: center;
        flex-direction: column;
    }
    
    .contenedor-cantidad{
    
    }
    
    .contenedor-compra{
        display: flex;
        flex-direction: row;
    }
    .comprar{
        width: 50%;
    }
    
    .agregar-carrito{
        width: 50%;
    }






    /* ARTICULOS RELACIONADOS */
    .articulos img{
        width: 18vw;
        height: 75%;
    }

    .relacionados h2{
        padding-left: 20px;
    }

    .relacionados{
        text-align: start;
    }
}