@import url("https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&display=swap");

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Agdasima", sans-serif;
    color: #171c19;;
}

.wrapper{
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color:#7c9285;   
}

aside{
    padding: 32px;
    padding-right: 0;
    background-color: (#7c9285);
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header{
    flex-direction: row;
}

.volver{
    font-size: 58px;
    padding-left: 5px;
    padding-right: 5px;
   background-color: #7c9285;
   border: 0;
}

.menu-categoria{
    background-color: #7c9285;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.boton-categoria{
    background-color: #171c19;
    border: 3px solid #171c19;
    color: #d3dad6;
    cursor: pointer;
    font-size: larger;
    gap: 16px;
    padding: 10px;
    font-weight: 600;
    width: 80%;
    border-radius: 32px;
    text-align: center;  
}

.boton-categoria:hover{
    background-color: #d3dad6;
    color:#171c19;
    transition: background-color 0.8s ;
}

.boton-categoria-link{
    background-color: #d3dad6;
    border: 3px solid #d3dad6;
    color: #171c19;
    cursor: pointer;
    font-size: larger;
    gap: 16px;
    padding: 10px;
    font-weight: 600;
    width: 80%;
    border-radius: 32px;
    text-decoration: none;
    text-align: center;
}

.boton-categoria-link:hover{
    background-color: #7c9285;
    color:#d3dad6;
    transition: background-color 0.8s ;
}

main{
    background-color:#f4f6f5 ;
    margin: 1rem;
    margin-left: 0;
    border: #f4f6f5 5px solid;
    border-radius: 20px;
    padding: 3px 10px;
}

.titulo-principal{
    color: #171c19;
    padding: 48px;
    margin-bottom: 32px;
}

.contenedor-productos{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px
}

.img-producto{
    max-width: 100%;
    border-radius: 16px;
}

.detalle-producto{
    background-color: #171c19;
    color: #d3dad6;
    padding: 8px;
    border-radius: 16px;
    margin-top: -32px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.nombre-producto{
    font-weight: 800;
    color: #d3dad6;
}

.oferta-producto{
    color: #d3dad6;
    font-size: 15px;
}

.precio-producto{
    color: #d3dad6;
    font-size: 20px;
}

.boton-producto{
    border: 0;
    background-color: #d3dad6;
    padding: 4px;
    text-transform: uppercase;
    border-radius: 32px;
    border: 2px solid #d3dad6;
}

.boton-producto:hover{
    background-color: #7c9285;
    transition: background-color 0.2s;
}

