* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Agdasima", sans-serif;
}

body {
  padding: 20px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url(../images/register-login.jpg);
  background-size: cover;
}
.container-form {
  width: 100%;
  max-width: 900px;
  display: flex;
  border-radius: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  transition: all 1s ease;
  overflow: hidden;
}
.informacion {
  width: 40%;
  display: flex;
  align-items: center;
  text-align: center;
  background-color: var(--primary);
}
.logo img:hover {
  transition: all 0.3s ease;
  transform: scale(1.1);
}
.datos {
  width: 100%;
  padding: 0 30px;
}
.text-danger {
  color: red;
  font-size: 15px;
  padding-bottom: 5px;
}
.datos h2 {
  font-size: 2.5rem;
}
.datos p {
  margin: 15px 0;
  color: var(--text);
}
.datos input {
  background-color: transparent;
  outline: none;
  border: solid 2px var(--accent);
  border-radius: 20px;
  padding: 10px 15px;
  color: var(--text);
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.datos input:hover {
  background-color: var(--accent);
  border: none;
  color: var(--background);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
.input-google {
  margin: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  max-width: 320px;
  display: flex;
  padding: 0.5rem 1.4rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  align-items: center;
  border-radius: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.25);
  gap: 0.75rem;
  color: rgb(65, 63, 63);
  background-color: #fff;
  cursor: pointer;
  transition: all 0.6s ease;
}

.button svg {
  height: 24px;
}

button:hover {
  background-color: var(--accent);
  color: #fff;
  transform: scale(1.02);
}
.form-information {
  width: 60%;
  /* display: flex;
    justify-content: center;
    align-items: center; */
  text-align: center;
  background-color: var(--background);
}

.form-information-info {
  padding: 0 30px;
}
.form-information-info h2 {
  font-size: 2.5rem;
}
.form-information-info p {
  margin: 15px 0;
  color: var(--text);
}

.form {
  margin: 30px 0 0 0;
}
.form label {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  border-radius: 20px;
  background-color: var(--background);
  padding: 0px 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
.form label input {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: var(--background);
  outline: none;
  border-radius: 20px;
  color: #333;
}

.register-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
}
.register {
  background: transparent;
  position: relative;
  padding: 5px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid var(--accent);
  border-radius: 25px;
  outline: none;
  overflow: hidden;
  color: var(--text);
  transition: color 0.3s 0.1s ease-out;
  text-align: center;
}

.register span {
  margin: 10px;
}

.register::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  content: "";
  border-radius: 50%;
  display: block;
  width: 20em;
  height: 20em;
  left: -5em;
  text-align: center;
  transition: box-shadow 0.5s ease-out;
  z-index: -1;
}
.forgot {
  margin: 5px;
}
.register:hover {
  color: #fff;
  border: 1px solid var(--accent);
}

.register:hover::before {
  box-shadow: inset 0 0 0 10em var(--accent);
}
.btn-regist {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.link {
  text-decoration: none;
  color: var(--text);
}
.button-re {
  height: 50px;
  position: relative;
  background-color: transparent;
  cursor: pointer;
  border: 2px solid #252525;
  overflow: hidden;
  border-radius: 30px;
  color: #333;
  transition: all 0.5s ease-in-out;
}

.btn-txt {
  z-index: 1;
  font-weight: 800;
  letter-spacing: 4px;
}

.type1::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.5s ease-in-out;
  background-color: #333;
  border-radius: 30px;
  visibility: hidden;
  height: 10px;
  width: 10px;
  z-index: -1;
}

.button-re:hover {
  box-shadow: 1px 1px 200px #252525;
  color: #fff;
  border: none;
}

.type1:hover::after {
  visibility: visible;
  transform: scale(100) translateX(2px);
}

.button-re a {
  text-decoration: none;
  color: #333;
}
.button-re a:hover {
  color: #fff;
}
@media screen and (max-width: 1020px) {
}

@media screen and (max-width: 750px) {
  html {
    font-size: 12px;
  }
}
@media screen and (max-width: 580px) {
  html {
    font-size: 12px;
  }

  .container-form {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .informacion {
    order: 1;
    width: 100%;
    padding: 20px;
    border-radius: 20px 20px 0 0;
  }

  .form-information {
    order: 2;
    width: 100%;
    border-radius: 0 0 20px 20px;
  }
}

.mensaje-error {
  color: red;
  font-size: 15px;
  padding-bottom: 5px;
}
