.titulo {
  display: flex;
  margin: 10px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}
.titulo h2 {
  text-align: center;
  justify-content: center;
  max-width: 968px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  border-bottom: 5px solid var(--accent);
}
.seguir {
  padding: 0.1em 0.25em;
  width: 13em;
  height: 4.2em;
  background-color: var(--text);
  border: 0.08em solid #fff;
  border-radius: 0.3em;
  font-size: 12px;
}

.seguir span {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0.4em;
  width: 8.25em;
  height: 2.5em;
  background-color: var(--primary);
  border-radius: 0.2em;
  font-size: 1.5em;
  color: var(--text);
  border: 0.08em solid #fff;
  box-shadow: 0 0.4em 0.1em 0.019em #fff;
}

.seguir span:hover {
  transition: all 0.5s;
  transform: translate(0, 0.4em);
  box-shadow: 0 0 0 0 #fff;
}

.seguir span:not(hover) {
  transition: all 1s;
}
main {
  max-width: 1200px;
  margin: 0 auto;
  font-size: 1.5rem;
}

.contenedor-carrito {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 30px;
}

.carrito-productos {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.carrito-producto {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary);
  color: var(--text);
  padding: 0.5rem;
  padding-right: 1.5rem;
  border-radius: 1rem;
}

.carrito-producto-imagen {
  width: 8rem;
  border-radius: 1rem;
}

.carrito-producto small {
  font-size: 0.75rem;
}

.carrito-producto-eliminar {
  border: 0;
  background-color: transparent;
  color: red;
  cursor: pointer;
}

.carrito-acciones {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

.carrito-acciones-vaciar {
  border: 0;
  background-color: var(--primary);
  padding: 1rem;
  border-radius: 1rem;
  color: var(--text);
  text-transform: uppercase;
  cursor: pointer;
}

.carrito-acciones-derecha {
  display: flex;
}

.carrito-acciones-total {
  display: flex;
  background-color: var(--secondary);
  padding: 1rem;
  color: var(--text);
  text-transform: uppercase;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  gap: 1rem;
}

.carrito-acciones-comprar {
  border: 0;
  background-color: var(--primary);
  padding: 1rem;
  color: var(--text);
  text-transform: uppercase;
  cursor: pointer;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.header-mobile {
  display: none;
}

.close-menu {
  display: none;
}

.disabled {
  display: none;
}

@media screen and (max-width: 600px) {
  .carrito-producto {
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0.5rem;
  }

  .carrito-acciones {
    flex-wrap: wrap;
    row-gap: 1rem;
  }
}
