.usuarios {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Agdasima", sans-serif;
  max-width: 1250px;
  margin: 0 auto;
}
.wrapper {
  width: 90%;
  display: flex;
  box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
  justify-content: center;
  margin: 50px auto;
}
.left,
.right {
  flex: 1;
  padding: 30px 25px;
  text-align: center;
}
.wrapper .left {
  /* width: 35%; */
  flex: 1;
  background: var(--primary);
  padding: 30px 25px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  text-align: center;
  color: var(--text);
}

.wrapper .left img {
  border-radius: 5px;
  margin-bottom: 20px;
}

.wrapper .left h3 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 10px;
}

.wrapper .left h4 {
  margin-bottom: 10px;
}

.wrapper .left .info {
  margin-bottom: 10px;
  text-align: left;
}

.wrapper .left p {
  font-size: 12px;
  font-weight: 200;
  margin-bottom: 10px;
}

.wrapper .left h5 {
  font-size: 1rem;
  font-weight: 400;
  border-bottom: solid 1px var(--accent);
  margin-bottom: 5px;
}

.wrapper .right {
  /* width: 65%; */
  background: var(--background);
  padding: 30px 25px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.wrapper .right .favoritos,
.wrapper .right .ultimas-compras {
  margin-bottom: 30px;
}
.wrapper .right .favoritos h3,
.wrapper .right .ultimas-compras h3 {
  margin-bottom: 15px;
  padding-bottom: 5px;
  border-bottom: solid 1px var(--accent);
}

/* Esdtilos slider fav */
.favoritos_data {
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.carrusel {
  display: flex;
  transition: all 0.3s ease;
}
.contenidio {
  flex: 0 0 auto;
  margin: 0 10px;
  text-align: center;
}

.contenidio img {
  width: 100%;
  max-width: 100px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.contenidio h3 {
  font-size: 18px;
  margin: 10px 0;
}

.contenidio p {
  font-size: 14px;
  color: #888;
}

.fa-angle-left,
.fa-angle-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 10px;
}

#left {
  width: 25px;
  height: 25px;
  background: var(--primary);
  color: var(--text);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  z-index: 1;
}

#right {
  width: 25px;
  height: 25px;
  background: var(--primary);
  color: var(--text);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0;
  z-index: 1;
}

/* Estilos slider ultiams compras */
.ultimas-compras {
  margin-top: 30px;
}

.ultimas-compras-data {
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.compras-carrusel {
  display: flex;
  transition: all 0.3s ease;
}

.compras-contenido {
  flex: 0 0 auto;
  margin: 0 10px;
  text-align: center;
}

.compras-contenido img {
  width: 80%;
  max-width: 100px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.compras-contenido h3 {
  font-size: 18px;
  margin: 10px 0;
}

.compras-contenido p {
  font-size: 14px;
  color: #888;
}

.compras-contenido span {
  font-size: 12px;
  color: #666;
}

#compras-left,
#compras-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  background: var(--primary);
  color: var(--text);
  border-radius: 50%;
  z-index: 1;
}

#compras-left {
  left: 10px;
}

#compras-right {
  right: 10px;
}

#compras-left.hidden,
#compras-right.hidden {
  display: none;
}

@media (min-width: 769px) {
  .usuario .wrapper {
    flex-direction: row;
  }

  .left {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 35%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  .right {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 65%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}

@media (max-width: 768px) {
  .usuario .wrapper {
    flex-direction: column;
  }

  .left {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .right {
    width: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
  }
}
