.titulo {
  margin: 10px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}
.titulo h2 {
  text-align: center;
  justify-content: center;
  max-width: 968px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  border-bottom: 5px solid var(--accent);
}
/* Estilos generales para el formulario */
.formulario {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 20px;
}

.caja {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 800px;
  width: 100%;
  box-sizing: border-box;
}

.conta {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.formBox {
  width: calc(50% - 10px);
  padding-right: 10px;
  box-sizing: border-box;
}

.col-der {
  width: calc(50% - 10px);
  padding-left: 10px;
  box-sizing: border-box;
}

.producto-imagen {
  width: 50%;
  height: 50%;
  object-fit: cover;
}

/* Estilos para las etiquetas */
.formulario label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

/* Estilos para los inputs, selects y textarea */
.formulario input[type="text"],
.formulario select,
.formulario textarea,
.formulario input[type="file"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

/* Estilos para los botones */

.fondo {
  width: 100%;
}

.fondo textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  height: 100px;
  resize: none;
}
.row100 input[type="submit"] {
  width: 100%;
  padding: 10px 0;
  background-color: var(--accent);
}

/* Ajuste de estilos en pantallas pequeñas */
@media (max-width: 768px) {
  .formBox,
  .col-der {
    width: 100%;
    padding: 0;
  }
}
