.titulo {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  background-color: var(--background);
}
.titulo h2 {
  text-align: center;
  justify-content: center;
  max-width: 968px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  border-bottom: 5px solid var(--accent);
}
.is-invalid {
  border: 1px red solid !important;
}
.is-invalid::placeholder {
  color: red !important;
}
/* CONTACTO */

.mensaje-container {
  background-color: var(--background);
}
.caja {
  max-width: 1250px;
  position: relative;
  width: 100%;
  padding: 40px 100px;
  margin: 0 auto;
}

.caja {
  position: relative;
}
.form {
  grid-area: form;
}
.info {
  grid-area: info;
}
.map {
  grid-area: map;
}
.conta {
  padding: 40px;
  background-color: #fff;
  box-shadow: 0 5px 35px rgba(0, 0, 0, 0.1);
}
.caja {
  position: relative;
}
.conta h3 {
  color: var(--primary);
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 10px;
  border-bottom: 1px solid var(--accent);
}

/* Formulario */
.formBox {
  position: relative;
  width: 100%;
}
.formBox .row50 {
  display: flex;
  gap: 20px;
}
.inputBox {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 50%;
}
.formBox .row100 .inputBox {
  width: 100%;
}
.inputBox span {
  color: var(--accent);
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: 500;
}
.inputBox input {
  padding: 10px;
  font-size: 1em;
  outline: none;
  border: 1px solid black;
}
.inputBox textarea {
  padding: 10px;
  font-size: 1.1em;
  outline: none;
  border: 1px solid black;
  resize: none;
  min-height: 220px;
  margin-bottom: 10px;
}
.inputBox input[type="submit"] {
  background: var(--accent);
  color: var(--text);
  border: none;
  max-width: 120px;
  cursor: pointer;
  transition: 0.3s;
}
.inputBox ::placeholder {
  color: gray;
}
.inputBox input[type="submit"]:hover {
  background: var(--primary);
}

@media (max-width: 768px) {
  .mensaje-container {
    padding: 20px;
  }
  .caja {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
  }
  .formBox .row50 {
    display: flex;
    gap: 0;
    flex-direction: column;
  }
  .inputBox {
    width: 100%;
  }
}

.is-valid {
  color: #198754;
}

.is-invalid {
  color: #842029;
}

.alert-warning {
  color: #842029;
  background-color: #f8d7da;
  text-align: center;
  border-radius: 10px;
}
