@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body{
    background-color: #EAEAEA;
    font-family: Roboto, sans-serif;
}

/* CLASES PARA INTERACTUAR CON EL NAV DESDE EL JS */
.display-none{
    display: none;
}

/* Header */
.container-principal-header{
    background-color: #00ABB3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100vw;
    padding: 0 20px;
}


.logo{
    height: 100%;
    width: auto;
    transition: all .3s;
}

.logo:hover{
    transform: scale(1.3);
}

.buscador{
    display: none;
}

.container-principal-header nav ul li{
    display: none;
}

.container-principal-header ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.container-principal-header ul li a{
    text-decoration: none;
    color: #EAEAEA;
    border-radius: 50px;
    padding: 10px;
    transition: all .3s;
}

ul li a:hover{
    color: #3C4048;
    background: #B2B2B2;
    transform: scale(1.3);
}

.burger-menu{
    padding: 15px;
    border-radius: 30%;
}

.hamburguesa{
    font-size: 25px;
}


/* MENU PARA MOBILE AL ABRIR LA HAMBURGUESA */


/* Main */
main section.producto{
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items:center;
}
.container-prod-info{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);

}
main h1{
    font-size: 28px;
    align-self: center;
    margin: 10px 0;
}


main .img-producto{
    width: 100%;
}

.logo-compartir-producto{
    color: black;
    font-size: 30px;
}

.informacion{
    display: flex;
    flex-direction: column;
    gap: 0;
}

.informacion .precio-descuento{
    width: 100%;
    padding: 20px 0 0 10px;
    align-self: flex-start;
    background-color: #e7e7e7;
    display: flex;
    align-items: center;
    gap: 10px;
}

.precio-anterior{
    padding: 0 0 20px 12px;
    text-decoration: line-through;
}


.informacion .precio{
    font-size: 25px;
}

.informacion .precio-descuento .descuento{
    font-size: 15px;
    color: #39b54a;;
}




/* SECCION CANTIDAD, COMPRA Y AGREGAR AL CARRITO */

.cantidad{
    width: 100%;
    padding: 0 20px;
}
.formulario-compra{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 30px 0 50px 0;
}


.formulario-cantidad{
    display: flex;
    margin-bottom: 30px;
    width: 100%;
}
.formulario-cantidad label{
    background: rgb(201, 201, 201);
    padding: 15px;
    border-radius: 10px 0 0 10px;
}

.formulario-cantidad input:focus{
    outline: none;
}

.formulario-cantidad input{
        padding-left: 10px;
        background: white;
        border-radius: 0px 10px 10px 0px;
        box-shadow: none;
        border: none;
        font-size: 15px;
        width: 100%;
}

section.compra{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comprar{
   background-color: #00ABB3;
   color: white;
   padding: 15px;
   border-radius: 10px 10px 10px 10px;
   width: 100%;
   text-align: center;
}

section.compra .agregar-carrito{
    background-color: #a6cfd1;
   color: #445657;
   padding: 15px;
   border-radius: 10px 10px 10px 10px;
   width: 100%;
   text-align: center;
}


/* ESPECIFICACIONES DEL PRODUCTO */

.especificaciones{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
    width: 100vw;
}

.especificaciones h3{
    display: inline;
    font-weight: 520;
}

.especificaciones ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
}



/* Footer */
footer{

}



@media (min-width:361px) {

    /* HEADER */

    .container-principal-header{
        justify-content: center;
    }

    .buscador{
        display: flex;
        height: 40px !important;
    }
    .buscador input{
        background: white;
        border-radius: 0px 10px 10px 0px;
        box-shadow: none;
        border: none;
    }
    
    .buscador .btn-buscar{
        border: none;
        width: 30px;
        border-radius: 10px 0 0 10px;
    }

    .buscador input:focus{
        outline: none;
    }



    /* MAIN */
    
    

}

@media (min-width:769px) {

    /* HEADER */

    .container-principal-header{
        justify-content: space-between;
    }
    .container-principal-header nav ul li{
        display: block;
        text-wrap: nowrap;
    }
    .burger-menu{
        display: none;
    }
    
    .buscador{
        align-self: center;
        flex-grow: 0.7;
    }
    
    .buscador input{
        width: 100%;
        order: -1;
        border-radius: 5px 0 0 5px;
        padding-left: 10px;
    }
    .buscador .btn-buscar{
        border-radius: 0px 5px 5px 0px;
        width: 40px;
    }
    



    /* MAIN */

    
}