/*hice este archivo aparte para los estilos del carrito 
despues veremos si mergeamos todo en uno solo, por las dudas
no quise mezclar */
:root {
    --text: #171c19;
    --background: #f4f6f5;
    --primary: #7c9285;
    --secondary: #d3dad6;
    --accent: #667a6f;
}

body {
    font-family: 'Agdasima', sans-serif;
    color: var(--text);
    background-color: var(--background);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary);
    padding: 10px;
}

.logo-wrapper {
    flex-grow: 0;
    flex-shrink: 0;
}

.logo {
    width: 100px;
}

nav {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: var(--text);
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    border: 1px solid var(--accent);
}

nav ul li a:hover {
    background-color: var(--accent);
    color: white;
}

nav input {
    padding: 5px;
}


main {
    margin: 20px;
}

.product-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.product {
    background-color: var(--secondary);
    padding: 20px;
    border-radius: 5px;
    display: flex;
    gap: 20px;
}

.product-img {
    flex-basis: 100px;
    flex-shrink: 0;
}

.product-img img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.product-details {
    flex-grow: 1;
}

.product-details h2 {
    margin: 0;
}

.product-details p {
    margin: 0;
    font-weight: bold;
}

.product-buttons {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.delete-button,
.add-button {
    background-color: var(--accent);
    color: white;
    border: none;
    padding: 5px 10px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.purchase-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.buy-button,
.cancel-button {
    background-color: var(--accent);
    color: white;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    background-color: var(--primary);
    padding: 10px;
}
