@import url("https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Agdasima", sans-serif;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

main {
  background-color: #f4f6f5;
  margin-bottom: 1em;
  height: 100%;
  width: 100%;
}
#banner {
  position: relative;
  display: flex;
  margin-bottom: 1em;
  justify-content: center;
  align-items: center;
}
#carousel1 {
  max-width: 1200px;
  margin: 0 auto;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Slider de autos 0Km,Usados y mas Vendidos */
#autos {
  display: flex;
  height: 400px;
  margin: 2em 0;
  gap: 10px;
}

#ventaAutos {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  left: 1%;
  height: 100%;
  width: 200px;
}
#ventaAutos img {
  border-radius: 5px;
  padding: 5px;
}
.Nuevos,
.Usados {
  background-color: #7c9285;
  min-width: 200px;
  min-height: 200px;
  max-height: 200px;
  border-radius: 5px;
  border: 1px solid #171c19;
}

.Mvendidos {
  background-color: #7c9285;
  padding: 10px;
  width: 200px;
  height: 100%;
  border-radius: 5px;
  border: 1px solid #171c19;
  overflow: hidden;
  overflow-y: auto;
}

.contenido {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  padding: 5px;
}

/* Autopartes */

.autopartes {
  background-color: #7c9285;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: 2em 5px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  align-items: center;
  gap: 10px;
}

article {
  background-color: #d3dad6;
  width: 110px;
  height: 150px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 2px;
}

#icono-flecha {
  position: relative;
  left: 35%;
  top: 35%;
}
/* Reseñas de usuarios */

#resenias {
  background-color: #7c9285;
  border: 1px solid black;
  border-radius: 5px;
  overflow: hidden;
  overflow-x: auto;
  height: 300px;
  margin: 2em 5px;
}
.contenido2 {
  display: inline-flex;
  gap: 3em;
  position: relative;
  bottom: 45%;
  padding: 10px;
}
.resenia {
  background-color: #d3dad6;
  width: 200px;
  height: 290px;
  border: 1px solid black;
  margin-top: 8em;
  padding-bottom: 10px;
  border-radius: 10px;
}
.resenia img {
  height: 100px;
  width: 100px;
}

/* Tablet */
@media screen and (min-width: 768px) {
  main {
    font-size: 12px;
  }

  #autos {
    height: 600px;
    margin-bottom: 4em;
  }
  #ventaAutos {
    width: 50%;
    padding: 10px;
    gap: 10px;
  }
  #ventaAutos img {
    height: 200px;
    margin-top: 20px;
    border-radius: 5px;
  }
  .Nuevos,
  .Usados {
    max-height: 300px;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    height: 100%;
    border: 1px solid #171c19;
  }
  .Mvendidos {
    width: 40%;
    margin-left: 30px;
    font-size: x-large;
  }
  .autopartes {
    height: 400px;
    font-size: large;
  }
  article {
    height: 170px;
  }
  .contenido2 {
    bottom: 15%;
  }
  .resenia {
    height: 200px;
  }
}

/* Laptop L */

@media screen and (min-width: 1440px) {
  #banner img {
    height: 500px;
  }
  #autos {
    height: 800px;
  }
  .Mvendidos {
    margin-left: 60px;
    font-size: xx-large;
  }
  .contenido {
    gap: 20px;
  }
  .Nuevos,
  .Usados {
    max-height: 400px;
    border-radius: 5px;
  }
  #ventaAutos {
    gap: 20px;
  }
  #ventaAutos img {
    height: 300px;
    border-radius: 10px;
  }
}

@media screen and (min-width: 1600px) {
  #banner img {
    height: 600px;
  }

  #autos {
    height: 1200px;
  }

  .Nuevos,
  .Usados {
    max-height: 600px;
    border-radius: 5px;
  }
  #ventaAutos img {
    height: 500px;
    border-radius: 10px;
  }
  .Mvendidos {
    margin-left: 100px;
    font-size: x-large;
  }
  #autos h3 {
    font-size: 30px;
  }
  .autopartes {
    margin: 60px 0;
    gap: 30px;
  }
  article {
    width: 150px;
    height: 300px;
  }

  .resenias {
    margin: 60px 0;
    height: 400px;
  }
  .contenido2 {
    height: 400px;
  }
}
