.titulo {
  display: flex;
  margin: 10px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}
.titulo h2 {
  text-align: center;
  justify-content: center;
  max-width: 968px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  border-bottom: 5px solid var(--accent);
}
.seguir {
  padding: 0.1em 0.25em;
  width: 13em;
  height: 4.2em;
  background-color: var(--text);
  border: 0.08em solid #fff;
  border-radius: 0.3em;
  font-size: 12px;
}

.seguir span {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0.4em;
  width: 8.25em;
  height: 2.5em;
  background-color: var(--primary);
  border-radius: 0.2em;
  font-size: 1.5em;
  color: var(--text);
  border: 0.08em solid #fff;
  box-shadow: 0 0.4em 0.1em 0.019em #fff;
}

.seguir span:hover {
  transition: all 0.5s;
  transform: translate(0, 0.4em);
  box-shadow: 0 0 0 0 #fff;
}

.seguir span:not(hover) {
  transition: all 1s;
}
main {
  overflow: hidden;
  max-width: 1200px;
  margin: 0 auto;
  font-size: 1.5rem;
  padding: 5px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.btn {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.contenedor-carrito {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 30px;
}

.carrito-producto {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary);
  color: var(--text);
  padding: 0.5rem;
  padding-right: 1.5rem;
  border-radius: 1rem;
}

.carrito-producto-imagen {
  width: 8rem;
  border-radius: 1rem;
}

.carrito-acciones {
  display: flex;
  justify-content: flex-end;
}

.carrito-acciones-vaciar,
.carrito-acciones-comprar {
  background-color: var(--primary);
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 1rem;
  text-transform: uppercase;
}

.carrito-acciones-total {
  display: flex;
  background-color: var(--secondary);
  padding: 1rem;
  color: var(--text);
  text-transform: uppercase;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  gap: 1rem;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.table th,
.table td {
  padding: 8px;
  white-space: nowrap;
  font-size: 12px;
}

.table th {
  min-width: 60px;
}

.table td {
  padding-right: 5px;
}

.card {
  margin-top: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card-header {
  background-color: var(--accent);
  color: #fff;
  padding: 10px;
  text-align: center;
}

.card-body {
  padding-top: 20px;
}

.card-body label {
  font-weight: bold;
}

.custom-select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
}
.table-container {
  overflow-x: auto;
  max-width: 100%;
}

@media screen and (max-width: 425px) {
  .table-container {
    overflow-x: auto;
  }

  .table th,
  .table td {
    padding: 5px;
    font-size: 10px;
  }
}
