:root {
  --text: #e4e3fc;
  --background: #000000;
  --primary: #5c57ef;
  --secondary: #070538;
  --accent: #1913cd;
}

@import url("https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&display=swap");
