:root {
  --text: #171c19;
  --background: #f4f6f5;
  --primary: #7c9285;
  --secondary: #d3dad6;
  --accent: #667a6f;
}
@import url("https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&display=swap");
