<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style-header.css" />
  </head>
  <body>
    <header>
      <nav>
        <div class="nav container">
          <i class="fa-solid fa-bars" id="menu-icon"></i>
          <div class="logo-img">
            <a href="/">
              <img
                src="/images/logo-sin-fondo.png"
                alt="logo"
                width="100px"
                height="100px"
              />
            </a>
          </div>
          <a href="/" class="logo">Six<span>Motors</span></a>
          <ul class="navbar">
            <li><a href="/" class="active">Home</a></li>
            <li><a href="/products/autos">Autos</a></li>
            <li><a href="/products/autopartes">Autopartes</a></li>
            <li><a href="/productos/create">Vender</a></li>
            <li><a href="/#contacto">Contacto</a></li>
          </ul>
          <div class="icons">
            <i
              class="fa-sharp fa-solid fa-magnifying-glass"
              id="search-icon"
            ></i>
            <a href="/productos/carrito"
              ><i class="fa-solid fa-cart-shopping"></i
            ></a>
            <a href="/user"><i class="fa-solid fa-user"></i></a>
          </div>
          <div class="search-box container">
            <form action="/productos/search" method="GET" class="search-form">
              <input
                type="search"
                name="keywords"
                id=""
                placeholder="   Buscar ..."
              />
              <button type="submit" class="search-form_button">
                <i class="fas fa-search"></i>
              </button>
            </form>
          </div>
          <a href="/login">
            <button class="btn">
              Sign up
              <div class="arrow-wrapper">
                <div class="arrow"></div>
              </div>
            </button>
          </a>
        </div>
      </nav>
    </header>
  </body>
</html>
