<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('../partials/head') %>
    <style>
      .error {
        background-color: #f8f9fa;
        height: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .error h1 {
        font-size: 3rem;
        color: #343a40;
      }
    </style>
  </head>

  <body>
    <%- include('../partials/header') %>
    <main class="error">
      <div class="container">
        <h1>Ocurrió un error</h1>
      </div>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>
