<div id="editarUsuarioModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <form action="/usuarios/editar/<%= usuario.id %>" method="POST">
      <!-- ... (resto del formulario) -->
      <button type="submit">Guardar cambios</button>
    </form>
  </div>
</div>
