<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Registro</title>
    <%- include ('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/style-register.css" />
  </head>
  <body>
    <div class="container-form">
      <div class="informacion">
        <div class="datos">
          <h2>Bienvenido</h2>
          <p>
            Si ya tienes una cuenta, inicia sesión para acceder al sitio de
            SixMotors
          </p>
          <div class="btn-ingresar">
            <a href="/login" class="link">
              <button class="button-ing type1">
                <span class="btn-txt">Iniciar sesión</span>
              </button>
            </a>
          </div>
        </div>
      </div>
      <div class="form-information">
        <div class="form-information-info">
          <div class="logo">
            <a href="/">
              <img
                src="/images/logo-sin-fondo.png"
                alt="logo"
                width="50%"
                height="50%"
              />
            </a>
          </div>
          <h2>Create una cuenta</h2>
          <p>Create una cuenta para mirar las novedades que tenemos</p>
          <div class="input-google">
            <button class="button">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                preserveAspectRatio="xMidYMid"
                viewBox="0 0 256 262"
              >
                <!-- Icono de Google -->
              </svg>
              Continuar con Google
            </button>
          </div>
          <form action="/register" method="POST" class="form">
            <label for="nombre">
              <i class="fa-solid fa-user"></i>
              <input type="text" name="nombre" placeholder="Nombre completo" />
            </label>
            <label for="usuario">
              <i class="fa-solid fa-user"></i>
              <input type="text" name="usuario" placeholder="Usuario" />
            </label>
            <label for="email">
              <i class="fa-solid fa-envelope"></i>
              <input
                type="email"
                name="email"
                placeholder="Correo electrónico"
                required
                pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
              />
            </label>
            <label for="password">
              <i class="fa-solid fa-lock"></i>
              <input
                type="password"
                name="password"
                id="password"
                placeholder="Contraseña"
              />
              <i class="fa-solid fa-eye-slash" id="togglePassword"></i>
            </label>
            <label for="repeatPassword">
              <i class="fa-solid fa-lock"></i>
              <input
                type="password"
                name="repeatPassword"
                id="repeatPassword"
                placeholder="Repetir contraseña"
              />
              <i class="fa-solid fa-eye-slash" id="toggleRepeatPassword"></i>
            </label>
            <div class="register-cont">
              <button class="register" type="submit">
                <span>Registrarse</span>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <script type="module" src="/javascript/Register.js"></script>
  </body>
</html>