<!DOCTYPE html>
<html lang="en">
  <head>
    <title>usuario</title>
    <%- include ('../partials/head.ejs') %>

    <link rel="stylesheet" href="/css/style-usuario.css" />
  </head>
  <body>
    <!-- Navbar -->
    <%- include ('../partials/header.ejs') %>

    <main>
      <section class="usuario">
        <div class="wrapper">
          <div class="left">
            <img src="/images/reseñaPerso.png" alt="usuario" width="100" />
            <h4>Nombre Apellido</h4>
            <div class="info">
              <h3>Informacion</h3>
              <div class="info_data">
                <div class="data">
                  <h5>Email</h5>
                  <p>eemail@email.com</p>
                </div>
                <div class="data">
                  <h5>Telefono</h5>
                  <p>123456789</p>
                </div>
                <div class="data">
                  <h5>Ciudad</h5>
                  <p>San nicolas</p>
                </div>
              </div>
            </div>
          </div>
          <div class="right">
            <div class="favoritos">
              <h3>Favoritos</h3>
              <div class="favoritos_data">
                <i id="left" class="fa-solid fa-angle-left"></i>
                <div class="carrusel">
                  <div class="contenidio">
                    <img src="/images/autopartes/bateria.jpg" alt="" />
                    <h3>Titulo</h3>
                    <p>Precio</p>
                  </div>
                </div>
                <i id="right" class="fa-solid fa-angle-right"></i>
              </div>
            </div>
            <div class="ultimas-compras">
              <h3>Ultimas compras</h3>
              <div class="ultimas-compras-data">
                <i id="compras-left" class="fa-solid fa-angle-left"></i>
                <div class="compras-carrusel">
                  <div class="compras-contenido">
                    <img src="/images/autopartes/escape-ap.jpg" alt="" />
                    <h3>Titulo</h3>
                    <p>precio</p>
                    <span>03/05/2022</span>
                  </div>
                </div>
                <i id="compras-right" class="fa-solid fa-angle-right"></i>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    <!-- Footer -->
    <%- include ('../partials/footer.ejs') %>

    <!-- NAVBAR -->
    <script type="module" src="/javascript/nav.js"></script>
    <script type="module" src="/javascript/usuario.js"></script>
  </body>
</html>
